@media (min-width: 650px) {

header {
        padding: .5rem;
        background-color: aliceblue;
        display: grid;
        grid-template-columns: 400px 1fr;
        margin: .5rem;
    }
header img {
    width: 300px;
    height: auto;
    margin: auto;
    border-radius: 10px;

}
   .top-nav{
    display: block;
   }

   h1 {
       text-align: center;
       padding: 5px;
       color: navy;
   }

   #menu{
    display: none;
   }
   .navigation{
    display: flex;
    flex-wrap: wrap;
   }


   /*-------------------------Styling footer-----------------------*/
   footer {
       background-color: aliceblue;
       display: grid;
       grid-template-columns: 3fr 1fr;
       padding: .5rem;
       margin: .5rem;
   }

   .pragra p {
       padding: 5px;
       font-size: 1.2rem;
       text-align: center;
   }

   .imag {
       display: flex;
       justify-content: space-around;
       align-items: center;
   }


   /*---------------------Styling the main element of the body of the index.html--------*/

    main{
        gap: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .why{
        grid-column: 1/3;
    }
    .main-frame{
        display: block  ;
    }
    h2 {
        text-align: center;
        padding: .5rem;
        background-color: aliceblue;
        color: black;
        margin-bottom: 1rem;
        border-radius: 5px;
    }

    .main-ima img{
        width: 100%;
        height: auto;
    }
    .main-ima{
        position: relative;
    }
    .main-ima p{
        position: absolute;
        top: 7rem;
        left: 9rem
    }
    .why{
        font-size: 1.2rem;
        text-align: center;
    }

       



   
    
}