* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template: auto 1fr auto/ 3fr 1fr;
    font-size: 1.2rem;
    height: 80vh;
    padding: 20px;
}

header {
    grid-column: 1/4;
    background-color: #333;
    height: 120px;
    color: #fff;
    position: relative;
    padding: 1em;

}

main {
    grid-column: 1/2;
    background-color: #e0dcdc;
    padding: 20px;
}

aside {
    grid-column: 2/3;
    padding: 20px;
}

footer {
    grid-column: 1/4;
    background-color: #333;
    height: 120px;
    text-align: center;
    color: #fff;
    padding: 20px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    background-color: #000;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

li {
    list-style: none;
    padding: .5rem;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;

}