* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --right-blue: rgb(29, 77, 114);
    --white: rgb(255, 255, 255);
    --right-black: rgb(67, 66, 65);
    --border-color: rgb(209, 207, 207);
    --yellow: rgb(234, 234, 10);
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
}

main {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

header span {
    background-color: var(--right-blue);
    display: block;
    padding: 1.3rem;
    color: var(--white);
    text-align: center;
    font-size: 1.5rem;
}

h1 {
    font-weight: 100;
    padding: 1rem;
    text-align: center;
}

p {
    line-height: 1.5;
    margin-top: 10px;
}

nav ul {
    background-color: var(--right-black);
    padding: .5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}

nav a {
    padding: 8px;
    color: var(--white);
    font-size: 1.2rem;
    text-decoration: none;
}

nav a:hover {
    border: 1px solid var(--white);
    border-radius: 5px;
}

.cards {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 2fr 1fr;
}

section {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
}

h2 {
    background-color: var(--right-blue);
    padding: 10px;
    color: var(--white);
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
}

.profile,
.country {
    padding: 1rem;

}

.profile img {
    float: right;
    margin: 5px;
}

h3 {
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
    max-width: 550px;
    border-bottom: 1px solid var(--border-color);
}

.country img {
    margin: 0 10px;
    border-radius: 5px;


}

figure {
    float: left;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
}

.resources {
    padding: 1.2em;
}

.resources li {
    padding: 5px;
}

.last {
    color: var(--yellow);
}

footer {
    background-color: var(--right-blue);
    padding: 10px;
    text-align: center;
    color: var(--white);
    margin-top: 20px;
}