*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --blue: navy;
    --white: white;
    --yellow: yellow;
    --smoke-white: whitesmoke;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: var(--smoke-white);
}

header{
    width: 80%;
    margin: 0 auto;
    background-color: var(--blue);
    padding: 1.2rem;
    color: var(--white);
    text-align: center;
    border-bottom: 15px solid var(--yellow);
}
main{
    width: 80%;
    margin: 0 auto;
    display: grid;
    margin-top: 5px;
}
picture img{
    width: 100%;
    height: auto;
}

.data, .weather{
    background-color: var(--white);
    padding: 1rem;
    text-align: center;
    margin-top: 10px;
}
h2{
    padding: 5px;
    margin: 10px;
    font-size: 1.5rem;
}
 .head-icon::after {
     content: url(../images/icon.svg);
 }

p{
    font-weight: 700;
    font-size: 1.1rem;
    padding: 5px;
}
span{
    font-weight: 400;
    margin-left: 10px;

}
footer{
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    background-color: var(--blue);
    color: var(--white);
    
}
footer p{
    font-weight: 400;
    text-align: center;
}