*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;

}

/*Styling the header and its elements*/

header{
    display: block;
    gap: 10px;
    background-color: navy;
    color: white;
    padding: 1rem;
    text-align: center;
}
span{
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
}
#menu{
    text-decoration: none;
    color: white;
    margin-left: 4rem;
}
#menu::before{
    content: "≡";
}
nav{
    display: flex;  
}
.navigation{
    width: 100%;
    margin: 5px;
}
.navigation li{
    list-style: none; 
    display: none;

}

.navigation a{
    display: block;
    text-align: center; 
    text-decoration: none;
    color: white;
    padding: 5px;
       
}
.navigation a:hover{
    
    border: 1px solid white;
    border-radius: 5px; 
}
.open li{
    display: block;
}


#menu.open::before{
    content: "❌";
}

/*Stying the main and its element*/
main{
    max-width: 800px;
    margin:  0 auto;
}

h1{
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}
.figures{
    display: grid;
    text-align: center;
    gap: 25px;
}
img{
    width: 250px;
    border-radius: 5px;
}
/*Styling to footer*/

footer{
    background-color: navy;
    color: white;
    text-align: center;
    margin-top: 1rem;
}

footer span{
    font-size: 1rem;
    color: yellow;
}